StoplichtProjectServer/dist/
StoplichtProjectClient/Library/ShaderCache/*
StoplichtProjectClient/Temp/UnityLockfile
StoplichtProjectClient/Temp/
StoplichtProjectClient/Library/metadata/
StoplichtProjectServer/nbproject/private/
StoplichtProjectClient/Library/expandedItems
StoplichtProjectClient/Library/CurrentLayout.dwlt
StoplichtProjectClient/Library/CrashedAssetImports.txt
StoplichtProjectClient/Library/shadercompiler-32bit-1.log
StoplichtProjectClient/Library/shadercompiler-64bit-1.log
StoplichtProjectClient/Assets/crossroad.rar.meta
StoplichtProjectClient/Assets/moveAgent.cs.meta
StoplichtProjectClient/Assets/MainScene/NavMesh.asset.meta
StoplichtProjectClient/Assets/MainScene.meta
StoplichtProjectClient/Assets/Client_Connect2.cs.meta
